interactions:
- request:
    body: '{"llm_providers":[{"provider":"openai","model":"gpt-4o-mini","is_custom":false,"context_length":null,"input_price":null,"output_price":null,"latency":null},{"provider":"openai","model":"gpt-4o","is_custom":false,"context_length":null,"input_price":null,"output_price":null,"latency":null}],"messages":[{"role":"user","content":"Hello,
      world!"}],"hash_content":false,"max_model_depth":2,"metric":"accuracy"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"providers":[{"provider":"openai","model":"gpt-4o-mini"}],"session_id":"b6e30613-2c5b-415e-be1a-d820d3f013c8"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - 5bbec791-c29f-42ac
      x-render-origin-server:
      - uvicorn
    status:
      code: 200
      message: OK
version: 1
