.DS_Store
.python-version
.ipynb_checkpoints
dist/
/wandb/
.wandb_core/
__pycache__
artifacts
.idea
local-artifacts
weave_internal.egg-info
weave.egg-info/
weave/frontend/assets
build/
MNIST
food-101
food-101.tar.gz
gha-creds-*.json
.vscode/launch.json
.mypy_cache
.hypothesis
.env
yarn-error.log*
config/.admin.env
config/.wb_api.env
weave/tests/zlib.txt
weave/tests/execute.json
weave-js/src/generated
.integration-deps
