.DS_Store
.python-version
.ipynb_checkpoints
dist/
/wandb/
__pycache__
.idea
*.egg-info/
build/
gha-creds-*.json
.vscode
.mypy_cache
.hypothesis
.env
.ruff_cache
.pytest_cache
.coverage
.nox
*.log
*/file::memory:?cache=shared
tests/weave_models/
tools/codegen/generate_config.yaml
.cursor
pyrightconfig.json
