default_stages: [pre-push]

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.8
    hooks:
      # Run the linter.
      - id: ruff
        types_or: [python, pyi, jupyter]
        args: [--fix, --exit-non-zero-on-fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [python, pyi, jupyter]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.10.0"
    hooks:
      - id: mypy
        additional_dependencies:
          [types-pkg-resources==0.1.3, types-all, wandb>=0.15.5, wandb<0.19.0]
        # Note: You have to update pyproject.toml[tool.mypy] too!
        args: ["--config-file=pyproject.toml"]
        exclude: (.*pyi$)|(weave_query)|(tests)|(examples)
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.387
    hooks:
      - id: pyright
        additional_dependencies: [".[tests]"]

  # This is legacy Weave when we were building a notebook product - should be removed
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: ^examples/.*\.ipynb$
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
      - id: strip-exif
        name: Strip EXIF data
        entry: python scripts/strip_exif.py
        language: python
        types: [image]
        additional_dependencies: ["pillow"]
