default_stages: [pre-push]

repos:
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.20.0
    hooks:
      - id: pyupgrade
        args: ["--py310-plus"]
  - repo: https://github.com/Instagram/Fixit
    rev: v2.1.0
    hooks:
      - id: fixit-fix
  - repo: local
    hooks:
      - id: ty
        name: ty (type checker)
        entry: uv run --frozen ty check
        language: python
        always_run: true
        pass_filenames: false
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.3
    hooks:
      # Run the linter.
      - id: ruff-check
        types_or: [python, pyi, jupyter]
        args: [--fix, --exit-non-zero-on-fix, --config=pyproject.toml]
        exclude: ".github/scripts/validate_docs_coverage.py"
        always_run: true
        pass_filenames: false
      # Run the formatter.
      - id: ruff-format
        args: [--config=pyproject.toml]
        types_or: [python, pyi, jupyter]
        exclude: ".github/scripts/validate_docs_coverage.py"
        always_run: true
        pass_filenames: false
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.387
    hooks:
      - id: pyright
        additional_dependencies: [".[tests]"]
        exclude: ".github/scripts/validate_docs_coverage.py"
        always_run: true
        pass_filenames: false
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.17.0"
    hooks:
      - id: mypy
        additional_dependencies:
          [types-pkg-resources==0.1.3, types-all, wandb>=0.15.5, wandb<0.19.0]
        # Note: You have to update pyproject.toml[tool.mypy] too!
        args: ["--config-file=pyproject.toml", "."]
        exclude: (.*pyi$)|(tests)|(examples)|(.github/scripts/validate_docs_coverage.py)
        always_run: true
        pass_filenames: false
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      # https://github.com/pre-commit/pre-commit-hooks?tab=readme-ov-file#check-added-large-files
      - id: check-added-large-files
        args: ["--maxkb=2048"]
      # https://github.com/pre-commit/pre-commit-hooks?tab=readme-ov-file#check-json
      - id: check-json
        exclude: (.*pyi$)|(tests)|(examples)
      # https://github.com/pre-commit/pre-commit-hooks?tab=readme-ov-file#check-yaml
      - id: check-yaml
      # https://github.com/pre-commit/pre-commit-hooks?tab=readme-ov-file#detect-private-key
      - id: detect-private-key
      # https://github.com/pre-commit/pre-commit-hooks?tab=readme-ov-file#debug-statements
      - id: debug-statements
  - repo: https://github.com/crate-ci/typos
    rev: v1.34.0
    hooks:
      - id: typos
        # Excluding extra things to make initial reviews easier, starting with `examples``
        exclude: "(cassettes|examples|tests|tools)"
  - repo: https://github.com/oxipng/oxipng
    rev: v9.1.5
    hooks:
      - id: oxipng
        args: ["-o", "4", "--strip", "safe", "--alpha"]
  - repo: local
    hooks:
      - id: jupyter-nb-clear-output
        name: jupyter-nb-clear-output
        files: ^examples/.*\.ipynb$
        language: system
        entry: jupyter nbconvert --ClearOutputPreprocessor.enabled=True --inplace
      - id: strip-exif
        name: Strip EXIF data
        entry: uv run scripts/strip_exif.py
        language: python
        types: [image]
