include requirements.*
include wb_schema.gql
graft weave/client_context
graft weave/deploy
graft weave/flow
graft weave/frontend
graft weave/integrations
graft weave/legacy
graft weave/trace
graft weave/trace_server
global-exclude */__pycache__/*
global-exclude *.pyc
global-exclude */cassettes/*
