include requirements.*
include wb_schema.gql
graft weave/frontend
graft weave/language_features
graft weave/ops_primitives
graft weave/ops_arrow
graft weave/ops_domain
graft weave/ecosystem
graft weave/panels
graft weave/wandb_interface
graft weave/monitoring
graft weave/panels_py
graft weave/core_types
global-exclude */__pycache__/*
global-exclude *.pyc
