[project]
name = "weave"
description = "A toolkit for building composable interactive data driven applications."
readme = "README.md"
license = {text = "Apache-2.0"}
maintainers = [{name = "W&B", email = "support@wandb.com"}]
authors = [
    {name = "Shawn Lewis", email = "shawn@wandb.com"},
    {name = "Danny Goldstein", email = "danny@wandb.com"},
    {name = "Tim Sweeney", email = "tim@wandb.com"},
    {name = "Nick Peneranda", email = "nick.penaranda@wandb.com"},
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Web Environment",
    "Framework :: Flask",
    "Framework :: Jupyter",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Topic :: Database :: Front-Ends",
    "Topic :: Office/Business :: Financial :: Spreadsheet",
    "Topic :: Scientific/Engineering :: Information Analysis",
    "Topic :: Scientific/Engineering :: Visualization",
    "Topic :: Software Development :: Libraries :: Application Frameworks",
    "Topic :: Software Development :: Widget Sets",
]
requires-python = ">=3.9"
dynamic = ["version", "dependencies", "optional-dependencies"]

[project.urls]
Company = "https://wandb.com"
Documentation = "https://docs.wandb.com/"
Changes = "https://github.com/wandb/weave/releases"
"Source Code" = "https://github.com/wandb/weave"
"Issue Tracker" = "https://github.com/wandb/weave/issues/"
Twitter = "https://twitter.com/weights_biases"

[build-system]
requires = ["setuptools>=42", "wheel"]
build-backend = "setuptools.build_meta"

[tool.setuptools]
packages = ["weave"]

[tool.setuptools.dynamic]
version = {attr = "weave.version.VERSION"}
dependencies = {file = ["requirements.txt"]}

[tool.setuptools.dynamic.optional-dependencies]
examples = {file = ["requirements.ecosystem.txt"]}
ecosystem = {file = ["requirements.ecosystem.txt"]}
datadog = {file = ["requirements.datadog.txt"]}

[tool.pytest.ini_options]
testpaths = ["weave"]
filterwarnings = ["error"]

[tool.autopep8]
max_line_length = 180
ignore = "E714"

[tool.ruff]
line-length = 180
show-fixes = true
select = [
  "FIX001", # https://beta.ruff.rs/docs/rules/#flake8-fixme-fix
  "FIX003",
  "F541",
]

[tool.flake8]
max-line-length = 180
