sentry-sdk<1.29.0 # 1.29.0 adds monkey-patched GQL error handling which breaks our unit tests communicating with the server
pandas>=1.5.3  # current Colab version
ipython>=7.34  # current Colab version
flask>=2.1
black>=22.3.0  # used for code generation
flask_cors>=3.0.10
notebook>=6.4.8  # current Colab version
ipynbname>=2021.3.2
pillow>=10.0.1  # addresses CVE-2023-4863
scikit-learn>=1.2.1  # used for embedding projection
umap-learn>=0.5.3  # used for embedding projection
typeguard>=4.1.3
# Used for debugging
objgraph>=3.6.0
tabulate
# Weaveflow Additions
faiss-cpu

pytest-asyncio<=0.21.1  # newer versions seem to be causing weave op unit test failures?
