# Integration Tests
pytest-recording==0.13.1
vcrpy==6.0.1

# Integration Vendors
mistralai>=0.1.8, <1.0.0    # MistralAI
litellm>=1.36.1             # LiteLLM
llama-index>=0.10.35        # LlamaIndex
anthropic>=0.18.0           # Anthropic
langchain-core>=0.2.1       # LangChain
langchain-openai>=0.1.7     # LangChain
langchain-community>=0.2.1  # LangChain
chromadb>=0.5.0             # LangChain
pysqlite3-binary==0.5.3     # LangChain
cohere>=5.9.1               # Cohere
groq>=0.9.0                 # Groq
cerebras-cloud-sdk          # cerebras-cloud-sdk

# Used for version comparisons
semver
