# These are the base Weave requirements, enough for weave tracking and evaluation
# to work.

# Type annotations, we need ParamSpec in python3.9
typing_extensions>=4.0.0

# Definitely need arrow
pyarrow>=14.0.1  # TODO: Colab has 9.0.0, can we support?

# pydantic integration, and required by openai anyway
openai>=1.0.0
tiktoken>=0.4.0
pydantic>=2.0.0

# evaluation framework uses this for logging/status line at the moment.
rich>=13.7.0

# IO service uses these. Could probably remove reliance on ioservice.
aiohttp>=3.8.3
aiofiles>=22.1.0
aioprocessing>=2.0.1
Werkzeug>=2.0.0
janus>=1.0.0

# we use this for logger, could probably skip it
python-json-logger>=2.0.4

# Used in box and just a little in arrow code.
numpy>=1.21

# required for wandb
wandb>=0.16.2
graphql-core>3
gql[requests]>=3.4.1

# Segment logging
analytics-python>=1.2.9

# Used for version parsing in integrations.
packaging>=21.0
