-r requirements.txt
types-requests>=2.28.11.8
types-setuptools>=65.7.0.3
pre-commit>=3.3.3
black==22.3.0
types-aiofiles>=22.1.0.6
types-all>=1.0.0
typing_extensions>=4.4.0
build>=0.10.0
twine>=4.0.0
sqlalchemy>=2.0.1
duckdb # TODO: Remove me once we refactor runs2
mypy==1.0.0
ruff==0.0.275
types-pytz
types-Pillow
types-Flask-Cors
build
twine