-r requirements.txt
-r requirements.datadog.txt
pytest>=7.2.1
pytest-watch>=4.2.0
pytest-timeout>=2.1.0
pytest-xdist>=3.1.0
pytest-rerunfailures>=11.1.2
pytest-timestamper>=0.0.9
plotly>=5.13.0
nbmake>=0.5
bokeh==3.0.3 # pinning to help speed up CI
soundfile>=0.11.0
pytest-asyncio>=0.20.3
hypothesis>=6.68.3
numpy<1.24  # shap uses np.bool which is removed in 1.24
Faker>=16.0  # used for synthetic data generation
pytest-dotenv
supervisor>=4.2.5
