wandb>=0.12.18
analytics-python
ddtrace
flask>=2.1
flask_cors
h5py
ipynbname
ipython
joblib
json_log_formatter
matplotlib
notebook
numpy
openai
pandas
pillow
pyarrow==8.0.0
pymysql
seaborn
shap
sqlalchemy
typing_extensions
umap-learn
viztracer
xgboost