-r requirements.txt

# This file is a temporary hold over until the Core repo is updated to just point to legacy
# -r requirements.legacy.test.txt

pytest>=8.2.0
pytest-asyncio>=0.23.6
pytest-xdist>=3.1.0
clickhouse_connect==0.7.0
fastapi>=0.110.0
sqlparse==0.5.0

# Used for format and lint tests
pre-commit>=3.3.3

# TODO: Remove all integrations requirements once we have tox properly setup

# Integration Tests
pytest-recording==0.13.1
vcrpy==6.0.1
semver==2.13.0             # Used for switching logic based on package versions

# serving tests
flask
uvicorn>=0.27.0

pillow