// Weave modified version of PanelBank.less from W&B core.

@import '@wandb/weave/common/css/globals.less';

@import './PanelBankEditablePanel.less';

@panelSectionActionWidth: 200px;
@panelBankWithRunsOffset: (@fancyPageSidebarWidth + @panelSectionActionWidth);

// Scope to weave-root so we don't mess with W&B PanelBank styles.
.weave-root {
  .ui.dropdown .menu > .item.blerg {
    padding: 0 !important;
    height: 40px;
  }
  .panel-bank-with-runs {
    width: calc(
      ~'100% - @{panelBankWithRunsOffset}'
    ); // Account for sidebar and panel actions on the right
  }
  .panel-bank {
    // background: @gray50;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .grid-dot {
      position: absolute;
      background: lighten(@border, 5%);
      margin-left: -3px;
      margin-top: -3px;
      width: 6px;
      height: 6px;
      border-radius: 50%;
      pointer-events: none;
    }
    .add-vis-button {
      .flasher {
        border: 2px solid @primaryText;
      }

      display: flex;
      justify-content: center;
      align-items: center;
      width: 105px;
      margin-left: 6px;
      border: 1px solid @gray500;
      border-radius: 3px;
      color: @gray600;
      font-size: 14px;
      cursor: pointer;

      i {
        font-size: 18px;
        margin-left: -4px;
      }

      &:hover {
        background-color: @hover;
      }
    }
    .add-vis-button__closed {
      .add-vis-button();
      visibility: hidden;
    }
    .empty-watermark.wide {
      margin-top: 0;
      .empty-watermark-content {
        max-width: 300px;
      }
    }
    .empty-watermark {
      margin-top: 150px;
      .add-vis-helper {
        cursor: pointer;
      }
      .empty-watermark-content {
        max-width: 400px;
      }
    }
    .panel-media {
      margin: 0;
      .hide-in-pinned-panel {
        display: none;
      }
    }
    .ui.message.slow-warning {
      height: 52px;
      margin-bottom: 0;
      padding-top: 0;
      padding-bottom: 0;
      padding-right: 38px;
      border-radius: 0;
      background-color: @reportDraftBackgroundColor;
      border: 1px solid @tagYellow;
      box-shadow: none;
      i.icon.close-button {
        cursor: pointer;
        position: absolute;
        margin: 0;
        line-height: 52px;
        right: 24px;
        height: 100%;
        color: @gray700;
      }
      .content p {
        line-height: 52px;
        color: @gray700;
      }
    }
    &__actions-wrapper {
      // overflow: auto; // this breaks all of the popups
      -webkit-overflow-scrolling: touch;
    }
    &__actions {
      position: sticky;
      top: 0;
      background: @gray50;
      // height: 44px;
      padding: 16px 32px;
      z-index: 99;
      display: flex;
      align-items: center;
      min-width: @panelSectionActionWidth;
      .panel-bank__search {
        flex-grow: 1;
        .wbic-ic-search {
          font-size: 20px;
          transform: translate(-4px, -1px);
        }
        & > input {
          background: white !important;
          border-radius: 4px !important;
          border: 1px solid lighten(@border, 8%) !important;
          &:active,
          &:focus {
            border: 1px solid @primaryText !important;
          }
        }
      }
      .ui.button:not(.save-snapshot-button) {
        margin: 0 4px;
        background: none !important;
        border: none !important;
        i {
          color: darken(@gray500, 12%) !important;
        }
        &.action-button--active {
          background: @primaryBackground !important;
          i {
            color: @gray700 !important;
          }
        }
        &:hover {
          background: darken(@gray100, 4%) !important;
          &.action-button--active {
            background: lighten(@blue, 50%) !important;
          }
        }
      }
      .save-snapshot-button {
        margin-left: 1em !important;
      }
    }
    &__sections {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
    &__section {
      height: 100%;
      &:not(.collapsed) {
        padding-bottom: 8px;
      }
      // margin-bottom: 10px;
      .dragging {
        background: @lightBlue;
        .flow-section__pagination {
          background: @lightBlue;
        }
      }
      &__drag-handle {
        cursor: grab;
        &:active {
          cursor: grabbing;
        }
      }
      &__hidden-panels {
        i.wbic-ic-edit,
        .item.panel-action-delete,
        .item.panel-action-duplicate {
          display: none;
        }
        .empty-watermark {
          visibility: hidden;
        }
      }
      .flow-section__pagination {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: absolute;
        bottom: 8px;
        right: 20px;
        left: 10px;
        z-index: 1;
        height: 24px;
        padding-right: 8px;
        .pagination-controls {
          display: flex;
          align-items: center;
          width: fit-content;
          .pagination-count {
            color: lighten(@gray700, 5%);
          }
        }
        .ui.buttons {
          .ui.button {
            i.icon {
              font-size: 24px;
            }
          }
        }
      }
      &:hover {
        .panel-bank__section-title {
          i.ellipsis {
            visibility: visible;
          }
        }
        .flow-section,
        .grid-section {
          > .react-resizable-handle {
            visibility: visible;
          }
        }
        .flow-section__pagination {
          .pagination-controls {
            visibility: visible;
          }
        }
      }
    }
    &__panel {
      transition: transform 0.2s;
      will-change: transform;
      &.selected-for-drag:not(.dragging) {
        transition: none;
      }
      &.dragging {
        display: none;
      }
    }
    &__divider {
      height: 1px;
      background: @border;
    }
    &__modal {
      p {
        color: @textSecondary;
        padding: 10px 0 30px;
      }
    }
    &__search.input.ui {
      margin-right: 5px;
      input {
        border: 0;
        border-bottom: 1px solid @gray400;
        border-radius: 0;
      }
    }
    .panel-bank__section-title {
      padding: 4px 32px 4px;
      height: 48px;
      display: flex;
      border-top: 1px solid transparent;
      align-items: center;
      justify-content: space-between;
      .wbic-ic-next {
        font-size: 22px;
        margin-left: -26px;
        margin-right: 0;
        transform: translate(0, 4px);
        color: @gray500;
        &.open {
          transform: translate(1px, 5px) rotate(90deg);
        }
      }
      .wb-icon-button,
      button {
        width: 0px;
        margin: 0px;
        height: 32px;
        transition: visibility 0s linear 0.05s, width 0.1s linear;
        visibility: hidden;
        overflow: hidden;
      }
      .action-button--active {
        width: 32px;
        height: 32px;
        visibility: visible;
        margin-left: 6px;
        background: @primaryBackground !important;
        border: none !important;
        i {
          color: @gray700 !important;
        }
        &:hover {
          background: darken(@gray100, 4%) !important;
          &.action-button--active {
            background: lighten(@blue, 50%) !important;
          }
        }
        &.action-button--visible {
          i {
            color: @gray700 !important;
          }
        }
      }
      .action-button--visible {
        width: 32px;
        height: 32px;
        transition: visibility 0s linear 0.05s, width 0.1s linear;
        visibility: visible;
        margin-left: 6px;
        i {
          color: darken(@gray500, 12%) !important;
        }
      }

      &:hover {
        .wb-icon-button,
        button {
          visibility: visible;
          width: 32px;
          height: 32px;
          transition: visibility 0s linear 0.05s, width 0.1s linear;
          margin-left: 6px;
          i {
            color: darken(@gray500, 12%) !important;
          }
        }
        .action-button--active {
          i {
            color: darken(@gray700, 12%) !important;
          }
        }
        .panel-section-options {
          margin-right: -4px;
        }
        .add-vis-button__closed {
          visibility: visible !important;
        }
      }
      i.wbic-ic-handle {
        &:hover {
          color: @primaryText;
        }
      }
      .wbic-ic-overflow {
        cursor: pointer;
        transform: rotate(90deg);
        color: @gray500;
        margin: 0;
        &:hover {
          color: @primaryText;
        }
      }
      .panel-bank__section-title-left {
        transform: translateY(-1px);
        cursor: pointer;
        display: flex;
        align-items: baseline;
        max-width: 70%;

        > span {
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          > input {
            max-width: 100%;
          }
        }

        &:hover {
          i.wbic-ic-next {
            color: @primaryText;
          }
        }
      }
      .panel-bank__section-title-right {
        display: flex;
        align-items: right;
      }
      &:hover {
        i.wbic-ic-handle,
        i.wbic-ic-overflow {
          visibility: visible;
        }
      }
      i.wbic-ic-overflow,
      i.wbic-ic-handle {
        visibility: hidden;
        transition: visibility 0s linear 0.05s, width 0.1s linear;
      }
      .panel-section-options-visible i.wbic-ic-overflow {
        visibility: visible;
        transition: visibility 0s linear 0.05s, width 0.1s linear;
        margin-right: -4px;
      }
      .action-button--visible {
        visibility: visible;
      }
      .action-button--active {
        visibility: visible;
      }
      .ui.label.count-label {
        background: @gray100;
        border-radius: 10px;
        font-size: 14px;
        margin-left: 8px;
        padding: 3px 7px;
      }
      i.wbic-ic-handle {
        color: @gray500;
        font-size: 26px;
      }
      .editable-field {
        display: inline;
        margin: 8px -2px 8px -4px;
        .field-content {
          padding: 4px;
          margin: 0;
        }
        .ui.input {
          margin: 0;
          input {
            padding: 0px 5px;
            border-bottom: 1px solid @gray400;
            border-radius: 0;
          }
        }
      }
    }
    .active-section-drop-target .panel-bank__section-title {
      border-top: 1px solid @primaryText;
    }
    .active-box-drop-target > div {
      background: @lightBlue;
    }
    .resize-preview,
    .drop-preview {
      border: 1px dashed @darkBlue;
      position: absolute;
      background: fade(@lightBlue, 50%);
      z-index: 98;
      display: flex;
      align-items: center;
      justify-content: center;
      .resize-preview-message {
        border: 1px solid @darkBlue;
        padding: 0.2rem 0.6rem;
        border-radius: 4px;
        background: @white;
      }
    }
    .drop-preview {
      pointer-events: none;
      transition: transform 0.2s, left 0.2s, top 0.2s;
      z-index: 100;
    }
  }

  .flow-section,
  .grid-section {
    padding: 0 0px 8px;
    transition: height 0.3s;
    will-change: height;
    // &.resizing-section {
    //   transition: none;
    // }
    &__page {
      overflow: hidden;
      min-height: 32px;
      position: relative;
      width: 100%;
      // transition: height 0.8s;
      // will-change: height;
    }
    &.resizing-section {
      transition: none;
    }

    &.resizing-panel {
      .editable-panel {
        pointer-events: none; // don't show crosshair on panels while you're resizing
      }
    }

    > .react-resizable-handle {
      right: 10px;
      bottom: 3px;
      visibility: hidden;
      transform: scale(1.3);
    }
    &.mobile {
      .panel-bank__panel .react-resizable-handle {
        display: none;
      }
    }
    .panel-bank__panel {
      position: absolute;
      z-index: 1;
      .editable-panel {
        border: 1px solid @border;
      }
      & > div {
        height: 100%;
        width: 100%;
      }
      &.resizing {
        // transition: none;
        .editable-panel {
          pointer-events: none;
        }
      }
      &.dragging {
        // pointer-events: none;
        border: 1px dashed @darkBlue;
        z-index: 100;
      }
      .draggable-handle {
        z-index: 98;
      }
      &-small {
        .draggable-handle {
          text-align: left;
          padding-left: 8px;
        }
      }
      .handle {
        cursor: grab;
      }
      .blank-box {
        // visibility: hidden;
        width: 100%;
        height: 100%;
        background-color: @gray100;
      }
      .react-resizable-handle {
        visibility: hidden;
        z-index: 98;
        transform: scale(2,2)
      }
      &:hover,
      &.resizing {
        // A hack to make the crosshair flag of the
        // hovered panel appear over other panels.
        // I can't just change the z-index of the flag
        // because of stacking contexts.
        z-index: 98;
        .line-plot-flag {
          visibility: hidden;
        }
        .line-plot-flag-escaping {
          display: block !important;
        }
        .react-resizable-handle {
          visibility: visible;
        }
      }
    }
  }

  .grid-section .panel-bank__panel {
    &.resizing {
      z-index: 98;
    }
    &.panel-highlight {
      z-index: 99;
    }
  }

  .flow-section .panel-bank__panel .editable-panel {
    border-radius: 0;
    border: none;
  }

  .panel-bank__sections .no-metrics-logged {
    height: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 28px;
  }

  @media only screen and (min-width: 1201px) and (max-width: 1440px) {
    .panel-bank__section-title-left {
      max-width: 65%;
    }
  }

  @media only screen and (min-width: @tabletBreakpoint) and (max-width: 1200px) {
    .panel-bank {
      .panel-bank__section-title {
        flex-wrap: wrap;
        height: 100%;

        .panel-bank__section-title-left {
          max-width: 100%;
        }
      }

      &__search.input.ui {
        margin-right: 0px;
        width: 100%;
      }

      .panel-bank__actions {
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-bottom: 4px;
        .ui.tiny.button.wb-icon-button.only-icon {
          margin: 8px 0px 0px 16px;
        }
        .save-snapshot-button {
          margin-left: 24px !important;
          margin-top: 8px;
        }
      }
    }
  }

  @media only screen and (max-width: @tabletBreakpoint) {
    .panel-bank {
      &__search.input.ui {
        margin-right: 0px;
        width: 100%;
      }

      .panel-bank__section-title {
        flex-wrap: wrap;
        height: 100%;

        .panel-bank__section-title-left {
          max-width: 100%;
        }
      }

      &__section,
      &__section:hover {
        .panel-bank__section-title {
          button,
          i.ellipsis {
            visibility: visible;
          }
          i.wbic-ic-handle {
            visibility: hidden;
          }
        }
        .flow-section,
        .grid-section {
          > .react-resizable-handle {
            visibility: hidden;
          }
          .panel-bank__panel {
            .draggable-handle,
            .react-resizable-handle {
              visibility: hidden;
            }
          }
          .line-plot-container {
            pointer-events: none;
          }
        }
        .flow-section__pagination {
          &-count,
          .ui.buttons {
            visibility: visible;
          }
        }
      }

      .panel-bank__sections .no-metrics-logged {
        padding-top: 53px;
        padding-bottom: 53px;
      }

      .panel-bank__actions {
        flex-wrap: wrap;
        justify-content: flex-end;
        padding-bottom: 0px;
        .ui.tiny.button.wb-icon-button.only-icon {
          margin: 8px 0px 0px 16px;
        }
        .save-snapshot-button {
          margin-left: 24px !important;
          margin-top: 8px;
        }
      }
    }
  }
  .read-only {
    .panel-bank__panel {
      .react-resizable-handle {
        display: none;
      }
    }
  }
}
