/*
    PanelTable is built on top of the `react-base-table` library. The `react-base-table` library
    uses css for it's primary styling. In order to override some of the styling,
    we have to create this css file and import it after the `react-base-table` styles. See PanelTable.tsx:

    ```
    import BaseTable, {BaseTableProps} from 'react-base-table';
    import 'react-base-table/styles.css';
    import './baseTable.css';
    ```
*/

.BaseTable .BaseTable__header {
    background-color: transparent;
}

.BaseTable .BaseTable__column-resizer {
    visibility: hidden;
    width: 2px;
    background-color: #e3e3e3;
}

.BaseTable .BaseTable__header:hover .BaseTable__column-resizer {
    visibility: visible;
}

.BaseTable .BaseTable__header-row {
    background-color: transparent;
    font-weight: 600;
}

.BaseTable .BaseTable__table-main .BaseTable__header {
    background-color: transparent;
}

.BaseTable .BaseTable__footer {
    height: 32px !important;
}

.BaseTable .BaseTable__footer input {
    border: none;
    border-bottom: 2px solid #d2d2d2;
}

/* Turn off hovering */
.BaseTable__row:hover, .BaseTable__row--hovered {
    /* OBLIVION .04 */
    background-color: rgba(21, 24, 31, 0.04) !important;
    ;
}

.BaseTable__row:hover .index-cell-checkbox, .BaseTable__row--hovered .index-cell-checkbox{
    visibility: visible;
  }

.BaseTable__row.BaseTable__row--frozen{
    background-color: rgb(248, 248, 248);
}

.BaseTable .BaseTable__table.BaseTable__table-frozen-left {
    /* background-color: rgb(248, 248, 248); */
    box-shadow: none;
}

.BaseTable .BaseTable__table.BaseTable__table-frozen-right {
    /* background-color: rgb(248, 248, 248); */
    box-shadow: none;
}

.panel-row-resizer.react-resizable .react-resizable-handle.react-resizable-handle-se {
    background: none;
}
