interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "from typing import List\n\n\ndef
      has_close_elements(numbers: List[float], threshold: float) -> bool:\n    \"\"\"
      Check if in given list of numbers, are any two numbers closer to each other
      than\n    given threshold.\n    >>> has_close_elements([1.0, 2.0, 3.0], 0.5)\n    False\n    >>>
      has_close_elements([1.0, 2.8, 3.0, 4.0, 5.0, 2.0], 0.3)\n    True\n    \"\"\"\n"}],
      "llm_providers": [{"provider": "anthropic", "model": "claude-3-5-sonnet-20240620",
      "is_custom": false, "context_length": null, "input_price": null, "output_price":
      null, "latency": null}, {"provider": "openai", "model": "gpt-4o-2024-05-13",
      "is_custom": false, "context_length": null, "input_price": null, "output_price":
      null, "latency": null}, {"provider": "google", "model": "gemini-1.5-pro-latest",
      "is_custom": false, "context_length": null, "input_price": null, "output_price":
      null, "latency": null}, {"provider": "openai", "model": "gpt-4-turbo-2024-04-09",
      "is_custom": false, "context_length": null, "input_price": null, "output_price":
      null, "latency": null}, {"provider": "anthropic", "model": "claude-3-opus-20240229",
      "is_custom": false, "context_length": null, "input_price": null, "output_price":
      null, "latency": null}], "metric": "accuracy", "max_model_depth": 5, "hash_content":
      false, "preference_id": "7222acf5-39ef-450e-9691-6b024e69d1e9"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"providers":[{"provider":"anthropic","model":"claude-3-5-sonnet-20240620"}],"session_id":"e9324a61-8213-4528-be7e-4fa4ffc0d02b"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - 0bb526a0-ac5c-4de0
      x-render-origin-server:
      - uvicorn
    status:
      code: 200
      message: OK
[...]
