@import '@wandb/weave/common/css/globals.less';

.table-editor {
  &__search.ui.input {
    width: 100%;
    margin-bottom: -16px;
    & > input {
      border: none;
      border-radius: 0;
      border-bottom: 1px solid @gray400;
    }
  }
}

.column-list-container {
  background-color: @gray100;
  padding: 16px;
  height: 100%;
  &.hidden-container {
    margin-right: -8px;
  }
  &.visible-container {
    margin-left: -8px;
  }
  &.dragover {
    background-color: #eee;
    &.hidden-container .column-field {
      opacity: 0.8;
    }
  }
  .count-tag {
    background-color: @gray400;
    border-radius: 8px;
    font-size: 12px;
    padding: 0 4px;
    margin-left: 8px;
    font-weight: normal;
  }
  .items-scroll-list {
    margin: 16px 0;
    height: 350px;
    overflow: auto;
  }
  .ui.button.right {
    float: right;
  }
  .column-limit-msg {
    font-size: 12px;
    padding-left: 8px;
    font-style: italic;
    color: @gray500;
  }
}

.item.column-field-wrapper {
  padding: 3px 0;
  transition: padding-top 0.1s;
  &.disabled > .column-field {
    opacity: 0.7;
  }
  &.drop {
    padding-top: 40px !important;
  }
  .column-field {
    cursor: pointer;
    padding: 8px;
    background-color: @white;
    border-radius: 4px;
    user-select: none;
    display: flex;
    .column-name {
      text-overflow: ellipsis;
      overflow: hidden;
      flex-grow: 1;
      word-wrap: break-word;
    }
    &:hover {
      background-color: @gray50;
    }
  }
  i.icon.section-icon {
    padding-right: 4px;
    font-size: 18px;
    color: @gray500;
  }
  i.icon.pin {
    flex-shrink: 0;
    width: 14px;
    visibility: hidden;
    color: @gray400;
    cursor: pointer;
    &:hover {
      color: @gray500;
    }
  }
  i.icon.pin.active {
    visibility: visible;
    color: @gray700;
    &:hover {
      color: black;
    }
  }
  &:hover i.icon.pin {
    visibility: visible;
  }
}
