interactions:
- request:
    body: '{"query": "Latest developments in AI safety", "type": "auto", "numResults":
      5, "contents": {"text": true}}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.exa.ai/search
  response:
    body:
      string: "{\"requestId\":\"da04d7d64551ce7fe4c1acf78cae3a5a\",\"autopromptString\":\"Latest
        developments in AI safety\",\"resolvedSearchType\":\"neural\",\"results\":[{\"id\":\"https://twitter.com/FLI_org/status/1640976240382287873\",\"title\":\"\",\"url\":\"https://twitter.com/FLI_org/status/1640976240382287873\",\"publishedDate\":\"2023-03-29T07:16:38.000Z\",\"author\":\"FLI_org\",\"score\":0.41425350308418274,\"text\":\"\U0001F4E2
        We're calling on AI labs to temporarily pause training powerful models!\\nJoin
        FLI's call alongside Yoshua Bengio, @stevewoz, @harari_yuval, @elonmusk, @GaryMarcus
        &amp; over a 1000 others who've signed:\\nhttps://t.co/3rJBjDXapc\\nA short
        \U0001F9F5on why we're calling for this - (1/8)| created_at: Wed Mar 29 07:16:38
        +0000 2023 | favorite_count: 1066 | quote_count: 358 | reply_count: 175 |
        retweet_count: 538 | is_quote_status: False | retweeted: False | lang: en\"},{\"id\":\"https://www.vox.com/future-perfect/2023/3/25/23655082/ai-openai-gpt-4-safety-microsoft-facebook-meta\",\"title\":\"If
        your AI model is going to sell, it has to be safe\",\"url\":\"https://www.vox.com/future-perfect/2023/3/25/23655082/ai-openai-gpt-4-safety-microsoft-facebook-meta\",\"publishedDate\":\"2023-03-25T00:00:00.000Z\",\"author\":\"Haydn
        Belfield\",\"score\":0.41244497895240784,\"text\":\"On March 1[...]
