@font-face {
    font-family: "wb-icons";
    src: url("./wb-icons.ttf?0b9858b046e7fdd200050867abd7adbb") format("truetype"),
url("./wb-icons.svg?0b9858b046e7fdd200050867abd7adbb#wb-icons") format("svg"),
url("./wb-icons.woff?0b9858b046e7fdd200050867abd7adbb") format("woff"),
url("./wb-icons.eot?0b9858b046e7fdd200050867abd7adbb#iefix") format("embedded-opentype"),
url("./wb-icons.woff2?0b9858b046e7fdd200050867abd7adbb") format("woff2");
}

[class^="wbic-"]:before, [class*=" wbic-"]:before {
    font-family: wb-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wbic-ic-down:before {
    content: "\d747";
}
.wbic-ic-close:before {
    content: "\d748";
}
.wbic-ic-academic:before {
    content: "\f101";
}
.wbic-ic-add-above:before {
    content: "\f102";
}
.wbic-ic-add-below:before {
    content: "\f103";
}
.wbic-ic-alphabetical:before {
    content: "\f104";
}
.wbic-ic-area-line-plot:before {
    content: "\f105";
}
.wbic-ic-bell-outline:before {
    content: "\f106";
}
.wbic-ic-bell-slash-outline:before {
    content: "\f107";
}
.wbic-ic-benchmark:before {
    content: "\f108";
}
.wbic-ic-blank-page:before {
    content: "\f109";
}
.wbic-ic-bold:before {
    content: "\f10a";
}
.wbic-ic-bowtie:before {
    content: "\f10b";
}
.wbic-ic-camera:before {
    content: "\f10c";
}
.wbic-ic-chat-fill:before {
    content: "\f10d";
}
.wbic-ic-chat:before {
    content: "\f10e";
}
.wbic-ic-check:before {
    content: "\f10f";
}
.wbic-ic-chevron-down:before {
    content: "\f110";
}
.wbic-ic-chevron-expanded:before {
    content: "\f111";
}
.wbic-ic-chevron-left:before {
    content: "\f112";
}
.wbic-ic-chevron-minimized:before {
    content: "\f113";
}
.wbic-ic-chevron-right:before {
    content: "\f114";
}
.wbic-ic-chevron-up:before {
    content: "\f115";
}
.wbic-ic-chip:before {
    content: "\f116";
}
.wbic-ic-close-latest:before {
    content: "\f117";
}
.wbic-ic-code:before {
    content: "\f118";
}
.wbic-ic-collaborate:before {
    content: "\f119";
}
.wbic-ic-collapse:before {
    content: "\f11a";
}
.wbic-ic-color:before {
    content: "\f11b";
}
.wbic-ic-columns:before {
    content: "\f11c";
}
.wbic-ic-configuration:before {
    content: "\f11d";
}
.wbic-ic-controls:before {
    content: "\f11e";
}
.wbic-ic-copy:before {
    content: "\f11f";
}
.wbic-ic-credit-card:before {
    content: "\f120";
}
.wbic-ic-custom-layout:before {
    content: "\f121";
}
.wbic-ic-dashboard:before {
    content: "\f122";
}
.wbic-ic-date:before {
    content: "\f123";
}
.wbic-ic-delete:before {
    content: "\f124";
}
.wbic-ic-docs:before {
    content: "\f125";
}
.wbic-ic-down-arrow:before {
    content: "\f126";
}
.wbic-ic-download-new:before {
    content: "\f127";
}
.wbic-ic-download:before {
    content: "\f128";
}
.wbic-ic-duration:before {
    content: "\f129";
}
.wbic-ic-edit:before {
    content: "\f12a";
}
.wbic-ic-ema:before {
    content: "\f12b";
}
.wbic-ic-email-at:before {
    content: "\f12c";
}
.wbic-ic-example:before {
    content: "\f12d";
}
.wbic-ic-expand:before {
    content: "\f12e";
}
.wbic-ic-exponential:before {
    content: "\f12f";
}
.wbic-ic-file-code:before {
    content: "\f130";
}
.wbic-ic-file-image:before {
    content: "\f131";
}
.wbic-ic-file-markdown:before {
    content: "\f132";
}
.wbic-ic-file-model:before {
    content: "\f133";
}
.wbic-ic-file-python:before {
    content: "\f134";
}
.wbic-ic-file-yaml:before {
    content: "\f135";
}
.wbic-ic-file:before {
    content: "\f136";
}
.wbic-ic-filter:before {
    content: "\f137";
}
.wbic-ic-fire:before {
    content: "\f138";
}
.wbic-ic-fluid-width:before {
    content: "\f139";
}
.wbic-ic-folder:before {
    content: "\f13a";
}
.wbic-ic-fork:before {
    content: "\f13b";
}
.wbic-ic-full-width:before {
    content: "\f13c";
}
.wbic-ic-fullscreen:before {
    content: "\f13d";
}
.wbic-ic-gallery:before {
    content: "\f13e";
}
.wbic-ic-gaussian:before {
    content: "\f13f";
}
.wbic-ic-gift:before {
    content: "\f140";
}
.wbic-ic-github:before {
    content: "\f141";
}
.wbic-ic-globe:before {
    content: "\f142";
}
.wbic-ic-group-runs:before {
    content: "\f143";
}
.wbic-ic-group:before {
    content: "\f144";
}
.wbic-ic-h1:before {
    content: "\f145";
}
.wbic-ic-h2:before {
    content: "\f146";
}
.wbic-ic-h3:before {
    content: "\f147";
}
.wbic-ic-handle:before {
    content: "\f148";
}
.wbic-ic-heart-outline:before {
    content: "\f149";
}
.wbic-ic-heart:before {
    content: "\f14a";
}
.wbic-ic-heavy-checkmark:before {
    content: "\f14b";
}
.wbic-ic-help-circle-outline:before {
    content: "\f14c";
}
.wbic-ic-help:before {
    content: "\f14d";
}
.wbic-ic-hide:before {
    content: "\f14e";
}
.wbic-ic-image:before {
    content: "\f14f";
}
.wbic-ic-info:before {
    content: "\f150";
}
.wbic-ic-italic:before {
    content: "\f151";
}
.wbic-ic-launch:before {
    content: "\f152";
}
.wbic-ic-left-arrow:before {
    content: "\f153";
}
.wbic-ic-lightbulb:before {
    content: "\f154";
}
.wbic-ic-line-dash-dot-dot:before {
    content: "\f155";
}
.wbic-ic-line-dash-dot:before {
    content: "\f156";
}
.wbic-ic-line-dash:before {
    content: "\f157";
}
.wbic-ic-line-disconnected:before {
    content: "\f158";
}
.wbic-ic-line-dot:before {
    content: "\f159";
}
.wbic-ic-line-graph:before {
    content: "\f15a";
}
.wbic-ic-line-solid:before {
    content: "\f15b";
}
.wbic-ic-link:before {
    content: "\f15c";
}
.wbic-ic-list:before {
    content: "\f15d";
}
.wbic-ic-lock-open:before {
    content: "\f15e";
}
.wbic-ic-lock:before {
    content: "\f15f";
}
.wbic-ic-loess:before {
    content: "\f160";
}
.wbic-ic-log:before {
    content: "\f161";
}
.wbic-ic-markdown:before {
    content: "\f162";
}
.wbic-ic-metadata:before {
    content: "\f163";
}
.wbic-ic-model:before {
    content: "\f164";
}
.wbic-ic-move-runs:before {
    content: "\f165";
}
.wbic-ic-move:before {
    content: "\f166";
}
.wbic-ic-new-project:before {
    content: "\f167";
}
.wbic-ic-next:before {
    content: "\f168";
}
.wbic-ic-no-smooth:before {
    content: "\f169";
}
.wbic-ic-numbered-list:before {
    content: "\f16a";
}
.wbic-ic-numero:before {
    content: "\f16b";
}
.wbic-ic-office:before {
    content: "\f16c";
}
.wbic-ic-open-project:before {
    content: "\f16d";
}
.wbic-ic-organization:before {
    content: "\f16e";
}
.wbic-ic-outlier:before {
    content: "\f16f";
}
.wbic-ic-overflow-outline:before {
    content: "\f170";
}
.wbic-ic-overflow:before {
    content: "\f171";
}
.wbic-ic-overlay-2-column:before {
    content: "\f172";
}
.wbic-ic-overlay-3-column:before {
    content: "\f173";
}
.wbic-ic-overlay-stack:before {
    content: "\f174";
}
.wbic-ic-page-break:before {
    content: "\f175";
}
.wbic-ic-panel-3d:before {
    content: "\f176";
}
.wbic-ic-panel-audio:before {
    content: "\f177";
}
.wbic-ic-panel-bar-chart:before {
    content: "\f178";
}
.wbic-ic-panel-grid:before {
    content: "\f179";
}
.wbic-ic-panel-html:before {
    content: "\f17a";
}
.wbic-ic-panel-images:before {
    content: "\f17b";
}
.wbic-ic-panel-importance:before {
    content: "\f17c";
}
.wbic-ic-panel-line-plot:before {
    content: "\f17d";
}
.wbic-ic-panel-number:before {
    content: "\f17e";
}
.wbic-ic-panel-parallel:before {
    content: "\f17f";
}
.wbic-ic-panel-plotly:before {
    content: "\f180";
}
.wbic-ic-panel-run-comparer:before {
    content: "\f181";
}
.wbic-ic-panel-scatter-plot:before {
    content: "\f182";
}
.wbic-ic-panel-text-table:before {
    content: "\f183";
}
.wbic-ic-panel-text:before {
    content: "\f184";
}
.wbic-ic-panel-video:before {
    content: "\f185";
}
.wbic-ic-partial:before {
    content: "\f186";
}
.wbic-ic-pencil:before {
    content: "\f187";
}
.wbic-ic-percent-line-plot:before {
    content: "\f188";
}
.wbic-ic-personal:before {
    content: "\f189";
}
.wbic-ic-pin:before {
    content: "\f18a";
}
.wbic-ic-place:before {
    content: "\f18b";
}
.wbic-ic-plot:before {
    content: "\f18c";
}
.wbic-ic-plus:before {
    content: "\f18d";
}
.wbic-ic-previous:before {
    content: "\f18e";
}
.wbic-ic-projector:before {
    content: "\f18f";
}
.wbic-ic-quote:before {
    content: "\f190";
}
.wbic-ic-redo:before {
    content: "\f191";
}
.wbic-ic-refresh:before {
    content: "\f192";
}
.wbic-ic-regex:before {
    content: "\f193";
}
.wbic-ic-remove-circle-fill:before {
    content: "\f194";
}
.wbic-ic-remove-circle-outline:before {
    content: "\f195";
}
.wbic-ic-report:before {
    content: "\f196";
}
.wbic-ic-resize:before {
    content: "\f197";
}
.wbic-ic-retry:before {
    content: "\f198";
}
.wbic-ic-right-arrow:before {
    content: "\f199";
}
.wbic-ic-rocket:before {
    content: "\f19a";
}
.wbic-ic-rows:before {
    content: "\f19b";
}
.wbic-ic-running-average:before {
    content: "\f19c";
}
.wbic-ic-save:before {
    content: "\f19d";
}
.wbic-ic-search:before {
    content: "\f19e";
}
.wbic-ic-share:before {
    content: "\f19f";
}
.wbic-ic-show:before {
    content: "\f1a0";
}
.wbic-ic-small-width:before {
    content: "\f1a1";
}
.wbic-ic-smooth-gray:before {
    content: "\f1a2";
}
.wbic-ic-snowflake:before {
    content: "\f1a3";
}
.wbic-ic-sort-down:before {
    content: "\f1a4";
}
.wbic-ic-sort-up:before {
    content: "\f1a5";
}
.wbic-ic-sort:before {
    content: "\f1a6";
}
.wbic-ic-sparkles:before {
    content: "\f1a7";
}
.wbic-ic-split-diff:before {
    content: "\f1a8";
}
.wbic-ic-standard-layout:before {
    content: "\f1a9";
}
.wbic-ic-standard-line-plot:before {
    content: "\f1aa";
}
.wbic-ic-star-outline:before {
    content: "\f1ab";
}
.wbic-ic-star:before {
    content: "\f1ac";
}
.wbic-ic-state:before {
    content: "\f1ad";
}
.wbic-ic-stop:before {
    content: "\f1ae";
}
.wbic-ic-strikethrough:before {
    content: "\f1af";
}
.wbic-ic-summary:before {
    content: "\f1b0";
}
.wbic-ic-sweep:before {
    content: "\f1b1";
}
.wbic-ic-table-collapsed:before {
    content: "\f1b2";
}
.wbic-ic-table:before {
    content: "\f1b3";
}
.wbic-ic-tag-gray:before {
    content: "\f1b4";
}
.wbic-ic-tag-latest:before {
    content: "\f1b5";
}
.wbic-ic-tag:before {
    content: "\f1b6";
}
.wbic-ic-team:before {
    content: "\f1b7";
}
.wbic-ic-tensorflow:before {
    content: "\f1b8";
}
.wbic-ic-terminal:before {
    content: "\f1b9";
}
.wbic-ic-tex-block:before {
    content: "\f1ba";
}
.wbic-ic-tex:before {
    content: "\f1bb";
}
.wbic-ic-time-weighted-ema:before {
    content: "\f1bc";
}
.wbic-ic-twitter:before {
    content: "\f1bd";
}
.wbic-ic-undo:before {
    content: "\f1be";
}
.wbic-ic-unified-diff:before {
    content: "\f1bf";
}
.wbic-ic-up-arrow:before {
    content: "\f1c0";
}
.wbic-ic-username:before {
    content: "\f1c1";
}
.wbic-ic-vertical-handle:before {
    content: "\f1c2";
}
.wbic-ic-video:before {
    content: "\f1c3";
}
.wbic-ic-view-only:before {
    content: "\f1c4";
}
.wbic-ic-wandb:before {
    content: "\f1c5";
}
.wbic-ic-warning:before {
    content: "\f1c6";
}
.wbic-ic-world:before {
    content: "\f1c7";
}
.wbic-ic-xaxis:before {
    content: "\f1c8";
}
.wbic-icon-add-new:before {
    content: "\f1c9";
}
.wbic-icon-admin-shield-safe:before {
    content: "\f1ca";
}
.wbic-icon-amazon-sagemaker:before {
    content: "\f1cb";
}
.wbic-icon-audio-volume:before {
    content: "\f1cc";
}
.wbic-icon-automation-robot-arm:before {
    content: "\f1cd";
}
.wbic-icon-back:before {
    content: "\f1ce";
}
.wbic-icon-bell-notifications:before {
    content: "\f1cf";
}
.wbic-icon-benchmark-square:before {
    content: "\f1d0";
}
.wbic-icon-blog-report:before {
    content: "\f1d1";
}
.wbic-icon-book-dictionary:before {
    content: "\f1d2";
}
.wbic-icon-boolean:before {
    content: "\f1d3";
}
.wbic-icon-bug:before {
    content: "\f1d4";
}
.wbic-icon-category-multimodal:before {
    content: "\f1d5";
}
.wbic-icon-chart-horizontal-bars:before {
    content: "\f1d6";
}
.wbic-icon-chart-pie:before {
    content: "\f1d7";
}
.wbic-icon-chart-vertical-bars:before {
    content: "\f1d8";
}
.wbic-icon-checkmark-circle:before {
    content: "\f1d9";
}
.wbic-icon-checkmark:before {
    content: "\f1da";
}
.wbic-icon-chevron-back:before {
    content: "\f1db";
}
.wbic-icon-chevron-down:before {
    content: "\f1dc";
}
.wbic-icon-chevron-next:before {
    content: "\f1dd";
}
.wbic-icon-chevron-up:before {
    content: "\f1de";
}
.wbic-icon-close:before {
    content: "\f1df";
}
.wbic-icon-code-alt:before {
    content: "\f1e0";
}
.wbic-icon-collapse:before {
    content: "\f1e1";
}
.wbic-icon-color:before {
    content: "\f1e2";
}
.wbic-icon-content-full-width:before {
    content: "\f1e3";
}
.wbic-icon-content-narrow:before {
    content: "\f1e4";
}
.wbic-icon-content-wide:before {
    content: "\f1e5";
}
.wbic-icon-contract-left:before {
    content: "\f1e6";
}
.wbic-icon-copy:before {
    content: "\f1e7";
}
.wbic-icon-credit-card-payment:before {
    content: "\f1e8";
}
.wbic-icon-cube-container:before {
    content: "\f1e9";
}
.wbic-icon-dashboard-blackboard:before {
    content: "\f1ea";
}
.wbic-icon-date:before {
    content: "\f1eb";
}
.wbic-icon-delete:before {
    content: "\f1ec";
}
.wbic-icon-discord-social:before {
    content: "\f1ed";
}
.wbic-icon-docker-whale:before {
    content: "\f1ee";
}
.wbic-icon-document:before {
    content: "\f1ef";
}
.wbic-icon-documentation:before {
    content: "\f1f0";
}
.wbic-icon-download:before {
    content: "\f1f1";
}
.wbic-icon-education-academic:before {
    content: "\f1f2";
}
.wbic-icon-email-at:before {
    content: "\f1f3";
}
.wbic-icon-email-envelope:before {
    content: "\f1f4";
}
.wbic-icon-expand-right:before {
    content: "\f1f5";
}
.wbic-icon-expand-uncollapse:before {
    content: "\f1f6";
}
.wbic-icon-facebook-social:before {
    content: "\f1f7";
}
.wbic-icon-failed-error-deleted:before {
    content: "\f1f8";
}
.wbic-icon-failed:before {
    content: "\f1f9";
}
.wbic-icon-flash-bolt:before {
    content: "\f1fa";
}
.wbic-icon-folder-alt:before {
    content: "\f1fb";
}
.wbic-icon-folder-project-move:before {
    content: "\f1fc";
}
.wbic-icon-folder-project:before {
    content: "\f1fd";
}
.wbic-icon-forum-chat-bubble:before {
    content: "\f1fe";
}
.wbic-icon-forward-next:before {
    content: "\f1ff";
}
.wbic-icon-full-screen-mode-expand:before {
    content: "\f200";
}
.wbic-icon-ghost-agent:before {
    content: "\f201";
}
.wbic-icon-git:before {
    content: "\f202";
}
.wbic-icon-github:before {
    content: "\f203";
}
.wbic-icon-group:before {
    content: "\f204";
}
.wbic-icon-headset:before {
    content: "\f205";
}
.wbic-icon-heart-filled:before {
    content: "\f206";
}
.wbic-icon-heart:before {
    content: "\f207";
}
.wbic-icon-help-alt:before {
    content: "\f208";
}
.wbic-icon-hide-hidden:before {
    content: "\f209";
}
.wbic-icon-history:before {
    content: "\f20a";
}
.wbic-icon-home:before {
    content: "\f20b";
}
.wbic-icon-idle:before {
    content: "\f20c";
}
.wbic-icon-ignore-outliers:before {
    content: "\f20d";
}
.wbic-icon-impersonate-mask-alt:before {
    content: "\f20e";
}
.wbic-icon-import-insert:before {
    content: "\f20f";
}
.wbic-icon-info:before {
    content: "\f210";
}
.wbic-icon-job-automation:before {
    content: "\f211";
}
.wbic-icon-job-calculator:before {
    content: "\f212";
}
.wbic-icon-job-program-code:before {
    content: "\f213";
}
.wbic-icon-joyce-transformers-logo:before {
    content: "\f214";
}
.wbic-icon-joyce-xgboost-logo:before {
    content: "\f215";
}
.wbic-icon-keras-logo:before {
    content: "\f216";
}
.wbic-icon-key-admin-private:before {
    content: "\f217";
}
.wbic-icon-key-admin:before {
    content: "\f218";
}
.wbic-icon-kubernetes:before {
    content: "\f219";
}
.wbic-icon-languages:before {
    content: "\f21a";
}
.wbic-icon-laptop-local-computer:before {
    content: "\f21b";
}
.wbic-icon-layout-grid:before {
    content: "\f21c";
}
.wbic-icon-layout-horizontal:before {
    content: "\f21d";
}
.wbic-icon-layout-tabs:before {
    content: "\f21e";
}
.wbic-icon-layout-vertical:before {
    content: "\f21f";
}
.wbic-icon-lightbulb-info:before {
    content: "\f220";
}
.wbic-icon-link-alt:before {
    content: "\f221";
}
.wbic-icon-linkedin-social:before {
    content: "\f222";
}
.wbic-icon-list-bullets:before {
    content: "\f223";
}
.wbic-icon-list:before {
    content: "\f224";
}
.wbic-icon-loading:before {
    content: "\f225";
}
.wbic-icon-lock-closed:before {
    content: "\f226";
}
.wbic-icon-lock-open:before {
    content: "\f227";
}
.wbic-icon-locked-constrained:before {
    content: "\f228";
}
.wbic-icon-log-out:before {
    content: "\f229";
}
.wbic-icon-logo-colab:before {
    content: "\f22a";
}
.wbic-icon-magic-wand-star:before {
    content: "\f22b";
}
.wbic-icon-magic-wand-stick:before {
    content: "\f22c";
}
.wbic-icon-microphone-audio:before {
    content: "\f22d";
}
.wbic-icon-minimize-mode:before {
    content: "\f22e";
}
.wbic-icon-model:before {
    content: "\f22f";
}
.wbic-icon-music-audio:before {
    content: "\f230";
}
.wbic-icon-number:before {
    content: "\f231";
}
.wbic-icon-open-new-tab:before {
    content: "\f232";
}
.wbic-icon-openai:before {
    content: "\f233";
}
.wbic-icon-orchestration-launch:before {
    content: "\f234";
}
.wbic-icon-organization-corporate:before {
    content: "\f235";
}
.wbic-icon-overflow-horizontal:before {
    content: "\f236";
}
.wbic-icon-pan-tool-1:before {
    content: "\f237";
}
.wbic-icon-pan-tool:before {
    content: "\f238";
}
.wbic-icon-panel:before {
    content: "\f239";
}
.wbic-icon-pause:before {
    content: "\f23a";
}
.wbic-icon-paused:before {
    content: "\f23b";
}
.wbic-icon-pencil-edit:before {
    content: "\f23c";
}
.wbic-icon-photo:before {
    content: "\f23d";
}
.wbic-icon-play:before {
    content: "\f23e";
}
.wbic-icon-privacy-open:before {
    content: "\f23f";
}
.wbic-icon-python-logo:before {
    content: "\f240";
}
.wbic-icon-pytorch-lightning-logo:before {
    content: "\f241";
}
.wbic-icon-pytorch-logo:before {
    content: "\f242";
}
.wbic-icon-queue:before {
    content: "\f243";
}
.wbic-icon-queued:before {
    content: "\f244";
}
.wbic-icon-randomize-alt:before {
    content: "\f245";
}
.wbic-icon-recent-clock:before {
    content: "\f246";
}
.wbic-icon-reddit-social:before {
    content: "\f247";
}
.wbic-icon-redo:before {
    content: "\f248";
}
.wbic-icon-report:before {
    content: "\f249";
}
.wbic-icon-retry:before {
    content: "\f24a";
}
.wbic-icon-robot-service-member:before {
    content: "\f24b";
}
.wbic-icon-rocket-launch:before {
    content: "\f24c";
}
.wbic-icon-run:before {
    content: "\f24d";
}
.wbic-icon-running-repeat:before {
    content: "\f24e";
}
.wbic-icon-scikit-logo:before {
    content: "\f24f";
}
.wbic-icon-search:before {
    content: "\f250";
}
.wbic-icon-select-move-tool:before {
    content: "\f251";
}
.wbic-icon-settings-parameters:before {
    content: "\f252";
}
.wbic-icon-settings:before {
    content: "\f253";
}
.wbic-icon-share-export:before {
    content: "\f254";
}
.wbic-icon-share-with:before {
    content: "\f255";
}
.wbic-icon-shield-remove:before {
    content: "\f256";
}
.wbic-icon-show-visible:before {
    content: "\f257";
}
.wbic-icon-smoothing:before {
    content: "\f258";
}
.wbic-icon-sort-ascending:before {
    content: "\f259";
}
.wbic-icon-sort-descending:before {
    content: "\f25a";
}
.wbic-icon-sort:before {
    content: "\f25b";
}
.wbic-icon-split:before {
    content: "\f25c";
}
.wbic-icon-star-filled:before {
    content: "\f25d";
}
.wbic-icon-star:before {
    content: "\f25e";
}
.wbic-icon-stop:before {
    content: "\f25f";
}
.wbic-icon-stopped:before {
    content: "\f260";
}
.wbic-icon-sweep-bayes:before {
    content: "\f261";
}
.wbic-icon-sweep-grid:before {
    content: "\f262";
}
.wbic-icon-sweep-random-search:before {
    content: "\f263";
}
.wbic-icon-sweeps-alt:before {
    content: "\f264";
}
.wbic-icon-sweeps-broom-alt:before {
    content: "\f265";
}
.wbic-icon-sweeps-broom:before {
    content: "\f266";
}
.wbic-icon-system-chip-alt:before {
    content: "\f267";
}
.wbic-icon-system-chip:before {
    content: "\f268";
}
.wbic-icon-system:before {
    content: "\f269";
}
.wbic-icon-table:before {
    content: "\f26a";
}
.wbic-icon-tag:before {
    content: "\f26b";
}
.wbic-icon-tensorflow-logo:before {
    content: "\f26c";
}
.wbic-icon-text-language-alt:before {
    content: "\f26d";
}
.wbic-icon-text-language:before {
    content: "\f26e";
}
.wbic-icon-trigger-alt:before {
    content: "\f26f";
}
.wbic-icon-twitter:before {
    content: "\f270";
}
.wbic-icon-type-boolean:before {
    content: "\f271";
}
.wbic-icon-type-number:before {
    content: "\f272";
}
.wbic-icon-type-string-quote:before {
    content: "\f273";
}
.wbic-icon-undeterminate-visibility:before {
    content: "\f274";
}
.wbic-icon-undo:before {
    content: "\f275";
}
.wbic-icon-unlocked-unconstrained:before {
    content: "\f276";
}
.wbic-icon-user-profile-personal:before {
    content: "\f277";
}
.wbic-icon-users-team:before {
    content: "\f278";
}
.wbic-icon-versions-layers:before {
    content: "\f279";
}
.wbic-icon-vertex-gcp:before {
    content: "\f27a";
}
.wbic-icon-video-play:before {
    content: "\f27b";
}
.wbic-icon-wandb:before {
    content: "\f27c";
}
.wbic-icon-warning:before {
    content: "\f27d";
}
.wbic-icon-webhook:before {
    content: "\f27e";
}
.wbic-icon-x-axis:before {
    content: "\f27f";
}
.wbic-icon-youtube-social:before {
    content: "\f280";
}
.wbic-icon-zoom-in-tool:before {
    content: "\f281";
}
.wbic-logo-colab:before {
    content: "\f282";
}
