/* styles.module.css */
.featureButton {
  display: grid;
  text-align: left;
  padding: 20px;        
  margin: 1%;
  border-radius: 15px;
  color: white;
  height: 200px;
  margin: 10px; /* Add margin */
  margin-top: 2%; 
}

.container {
  display: grid;
  justify-items: left;
  width: 100%; /* Make the container take up the full width of the screen */
}

.title {
  grid-column: 1;
  margin-left: 15%;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-column: 1;
}

/* When the screen is 600px or less, stack the buttons vertically */
@media (max-width: 1000px) {
  .row {
    flex-direction: column;
  }
  .container {
    padding: 15%;
    padding-bottom: 50%;
  }
}