@font-face {
  font-family: 'careyfont';
  src: url('../font/careyfont.eot?936227');
  src: url('../font/careyfont.eot?936227#iefix') format('embedded-opentype'),
       url('../font/careyfont.woff2?936227') format('woff2'),
       url('../font/careyfont.woff?936227') format('woff'),
       url('../font/careyfont.ttf?936227') format('truetype'),
       url('../font/careyfont.svg?936227#careyfont') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'careyfont';
    src: url('../font/careyfont.svg?936227#careyfont') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "careyfont";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-drag-handle:before { content: '\e800'; } /* '' */
.icon-group:before { content: '\e801'; } /* '' */
.icon-x:before { content: '\e803'; } /* '' */
.icon-x-log:before { content: '\e804'; } /* '' */
.icon-y-log:before { content: '\e805'; } /* '' */
.icon-example-project:before { content: '\e806'; } /* '' */
.icon-project:before { content: '\e807'; } /* '' */
.icon-edit:before { content: '\e808'; } /* '' */
.icon-config:before { content: '\e809'; } /* '' */
.icon-tag:before { content: '\e80a'; } /* '' */
.icon-sort:before { content: '\e80b'; } /* '' */
.icon-trash:before { content: '\e80c'; } /* '' */
.icon-down:before { content: '\e80d'; } /* '' */
.icon-filter:before { content: '\e80f'; } /* '' */
.icon-check:before { content: '\e813'; } /* '' */