{
  "trailingComma": "es5",
  "singleQuote": true,
  "bracketSpacing": false,
  "bracketSameLine": true,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
