- request:
    url: https://api.wandb.ai/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"query":"\nquery DefaultEntity {\n    viewer
      {\n        username\n        defaultEntity
      {\n            name\n        }\n    }\n}\n","variables":{}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      ratelimit-limit: "1000"
      ratelimit-remaining: "1000"
      x-ratelimit-limit: "1000"
      x-ratelimit-remaining: "1000"
    body: '{"data":{"viewer":{"username":"drtangible","defaultEntity":{"name":"drtangible-mocha"}}}}'
- request:
    url: https://trace.wandb.ai/table/create
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"table":{"project_id":"drtangible-mocha/test-project","rows":[{"id":1,"value":2},{"id":2,"value":3},{"id":3,"value":4}]}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"digest":"03b86e8588d298a1814945664597d94281cb0dbca3b4ff8b0fcff30a6305d33e","row_digests":["mriP98RC2VPGkzk0QeZZ2hq4pUA8fQnhNlsivPxyYYA","DT31YGNzrm7UClL9NXjXYHGXBhYZJsh4Ct9jjBWY74s","1dMFHVoxulzjLOSTzDQMrTQ5ckPCI3aF2487OjvmxJI"]}'
- request:
    url: https://trace.wandb.ai/table/query
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"project_id":"drtangible-mocha/test-project","digest":"03b86e8588d298a1814945664597d94281cb0dbca3b4ff8b0fcff30a6305d33e"}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"rows":[{"digest":"mriP98RC2VPGkzk0QeZZ2hq4pUA8fQnhNlsivPxyYYA","val":{"id":1,"value":2},"original_index":0},{"digest":"DT31YGNzrm7UClL9NXjXYHGXBhYZJsh4Ct9jjBWY74s","val":{"id":2,"value":3},"original_index":1},{"digest":"1dMFHVoxulzjLOSTzDQMrTQ5ckPCI3aF2487OjvmxJI","val":{"id":3,"value":4},"original_index":2}]}'
- request:
    url: https://trace.wandb.ai/obj/create
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"obj":{"project_id":"drtangible-mocha/test-project","object_id":"Dataset","val":{"_type":"Dataset","_class_name":"Dataset","_bases":["Object","BaseModel"],"rows":"weave:///drtangible-mocha/test-project/table/03b86e8588d298a1814945664597d94281cb0dbca3b4ff8b0fcff30a6305d33e"}}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"digest":"Q87oPETHV3ZzCsBj9NY1vmb3I6tfYlyH3IfXKHNkaLI","object_id":"Dataset"}'
