- request:
    url: https://api.wandb.ai/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"query":"\nquery DefaultEntity {\n    viewer
      {\n        username\n        defaultEntity
      {\n            name\n        }\n    }\n}\n","variables":{}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      ratelimit-limit: "1000"
      ratelimit-remaining: "1000"
      x-ratelimit-limit: "1000"
      x-ratelimit-remaining: "1000"
    body: '{"data":{"viewer":{"username":"drtangible","defaultEntity":{"name":"drtangible-mocha"}}}}'
- request:
    url: https://trace.wandb.ai/file/create
    method: POST
    headers:
      authorization: masked
      content-type: multipart/form-data; boundary=----formdata-undici-017773695720
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: "------formdata-undici-017773695720\r

      Content-Disposition: form-data; name=\"project_id\"\r

      \r

      drtangible-mocha/test-project\r

      ------formdata-undici-017773695720\r

      Content-Disposition: form-data; name=\"file\"; filename=\"blob\"\r

      Content-Type: application/octet-stream\r

      \r

      async function primitive(input) {

      \        return `Hi ${input}!`;

      \    }\r

      ------formdata-undici-017773695720--\r\n"
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"digest":"6Moqwj0Ocp0Jx7FfEN8VcmmDDcu4l2K53xleNntSB34"}'
- request:
    url: https://trace.wandb.ai/obj/create
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"obj":{"project_id":"drtangible-mocha/test-project","object_id":"primitive","val":{"_type":"CustomWeaveType","weave_type":{"type":"Op"},"files":{"obj.py":"6Moqwj0Ocp0Jx7FfEN8VcmmDDcu4l2K53xleNntSB34"},"load_op":"NO_LOAD_OP"}}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"digest":"uPPlRCCga9tsuTZwve2Z2gswUYhhX15gb2XS8il0z4s","object_id":"primitive"}'
[...]
- request:
    url: https://trace.wandb.ai/call/upsert_batch
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"batch":[{"mode":"start","req":{"start":{"project_id":"drtangible-mocha/test-project","id":"019eae1b-8d23-7a49-9f3b-0ca26737be0a","op_name":"weave:///drtangible-mocha/test-project/op/primitive:uPPlRCCga9tsuTZwve2Z2gswUYhhX15gb2XS8il0z4s","trace_id":"019eae1b-8d23-7a49-9f3b-0ca31d2e406d","started_at":"2026-06-09T20:38:21.731Z","attributes":{"weave":{"client_version":"0.15.1","source":"js-sdk"}},"inputs":{"arg0":"world"}}}},{"mode":"end","req":{"end":{"project_id":"drtangible-mocha/test-project","id":"019eae1b-8d23-7a49-9f3b-0ca26737be0a","ended_at":"2026-06-09T20:38:21.732Z","output":"Hi
      world!","summary":{}}}}]}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"res":[{"id":"019eae1b-8d23-7a49-9f3b-0ca26737be0a","trace_id":"019eae1b-8d23-7a49-9f3b-0ca31d2e406d"},{}]}'
[...]
- request:
    url: https://trace.wandb.ai/call/upsert_batch
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"batch":[{"mode":"start","req":{"start":{"project_id":"drtangible-mocha/test-project","id":"019eae1b-9082-7763-a9fc-81f5c50d955e","op_name":"weave:///drtangible-mocha/test-project/op/json:0NsakCX9GJYyeu65LdlWVO8azws33f39CeKNpidMc50","trace_id":"019eae1b-9082-7763-a9fc-81f6e378a1b6","started_at":"2026-06-09T20:38:22.594Z","attributes":{"weave":{"client_version":"0.15.1","source":"js-sdk"}},"inputs":{"arg0":"Alice","arg1":10}}}},{"mode":"end","req":{"end":{"project_id":"drtangible-mocha/test-project","id":"019eae1b-9082-7763-a9fc-81f5c50d955e","ended_at":"2026-06-09T20:38:22.594Z","output":{"name":"Alice","age":10},"summary":{}}}}]}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"res":[{"id":"019eae1b-9082-7763-a9fc-81f5c50d955e","trace_id":"019eae1b-9082-7763-a9fc-81f6e378a1b6"},{}]}'
[...]
- request:
    url: https://trace.wandb.ai/call/upsert_batch
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"batch":[{"mode":"end","req":{"end":{"project_id":"drtangible-mocha/test-project","id":"019eae1b-9479-7571-9dcb-e476a68c8439","ended_at":"2026-06-09T20:38:23.609Z","output":{"_type":"CustomWeaveType","weave_type":{"type":"PIL.Image.Image"},"files":{"image.png":"eFsHUfwsU9wUpM49gA5p75zhAJ6zJ8z0WKYgnCQsJsk"},"load_op":"NO_LOAD_OP"},"summary":{}}}}]}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"res":[{}]}'
[...]
- request:
    url: https://trace.wandb.ai/table/create
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"table":{"project_id":"drtangible-mocha/test-project","rows":[{"name":"Alice","age":10},{"name":"Bob","age":20},{"name":"Charlie","age":30}]}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"digest":"03649e929ba12f08d67e1a76de37177f4eced4190078c92cb6653fb56dcd3825","row_digests":["aMkVu8hYRa5Wvwor5RJfZYTXNa1nYwfn4P7MhSgtKUs","K8wEDqYPFXiHcBAZ4j6YEcYg434Xn7hdsaSvnbQakG0","NQ8XBhd5m0rukJ7rKgqf7IvXU3KdQF2anCFbFqS8WFE"]}'
- request:
    url: https://trace.wandb.ai/call/upsert_batch
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"batch":[{"mode":"end","req":{"end":{"project_id":"drtangible-mocha/test-project","id":"019eae1b-9916-769c-8bc2-c662375f522a","ended_at":"2026-06-09T20:38:24.790Z","output":{"_type":"CustomWeaveType","weave_type":{"type":"wave.Wave_read"},"files":{"audio.wav":"Vo1nyi1S6gru0QMG9l2pZU2VoPFDDv0nDeYcb34oATI"},"load_op":"NO_LOAD_OP"},"summary":{}}}}]}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"res":[{}]}'
- request:
    url: https://trace.wandb.ai/table/query
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"project_id":"drtangible-mocha/test-project","digest":"03649e929ba12f08d67e1a76de37177f4eced4190078c92cb6653fb56dcd3825"}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"rows":[{"digest":"aMkVu8hYRa5Wvwor5RJfZYTXNa1nYwfn4P7MhSgtKUs","val":{"name":"Alice","age":10},"original_index":0},{"digest":"K8wEDqYPFXiHcBAZ4j6YEcYg434Xn7hdsaSvnbQakG0","val":{"name":"Bob","age":20},"original_index":1},{"digest":"NQ8XBhd5m0rukJ7rKgqf7IvXU3KdQF2anCFbFqS8WFE","val":{"name":"Charlie","age":30},"original_index":2}]}'
- request:
    url: https://trace.wandb.ai/obj/create
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"obj":{"project_id":"drtangible-mocha/test-project","object_id":"my-dataset","val":{"_type":"Dataset","_class_name":"Dataset","_bases":["Object","BaseModel"],"name":"my-dataset","rows":"weave:///drtangible-mocha/test-project/table/03649e929ba12f08d67e1a76de37177f4eced4190078c92cb6653fb56dcd3825"}}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"digest":"dpw7LBwphpZwuNG5Xxl6Y7D7x0LlxBdlj87GNifayO4","object_id":"my-dataset"}'
[...]
