- request:
    url: https://trace.wandb.ai/health
    method: GET
    headers:
      authorization: masked
    body: ""
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"status":"ok"}'
- request:
    url: https://api.wandb.ai/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"query":"\nquery DefaultEntity {\n    viewer
      {\n        username\n        defaultEntity
      {\n            name\n        }\n    }\n}\n","variables":{}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      ratelimit-limit: "1000"
      ratelimit-remaining: "1000"
      x-ratelimit-limit: "1000"
      x-ratelimit-remaining: "1000"
      x-wandb-trace-id: bb87ba12f3301e32e86dd68f89298b88
    body: '{"data":{"viewer":{"username":"drtangible","defaultEntity":{"name":"drtangible-mocha"}}}}'
- request:
    url: https://trace.wandb.ai/agents/spans/stats
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"project_id":"drtangible-mocha/nonexistent-project","start":"2026-06-10T00:00:00Z","end":"2026-06-23T00:00:00Z"}'
  response:
    status: 422
    statusText: unknown
    headers:
      content-type: application/json
    body: '{"detail":[{"type":"value_error","loc":["body"],"msg":"Value error, at
      least one metric is
      required","input":{"project_id":"drtangible-mocha/nonexistent-project","start":"2026-06-10T00:00:00Z","end":"2026-06-23T00:00:00Z"},"ctx":{"error":{}}}]}'
