- request:
    url: https://trace.wandb.ai/health
    method: GET
    headers:
      authorization: masked
    body: ""
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"status":"ok"}'
- request:
    url: https://api.wandb.ai/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"query":"\nquery DefaultEntity {\n    viewer
      {\n        username\n        defaultEntity
      {\n            name\n        }\n    }\n}\n","variables":{}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      ratelimit-limit: "1000"
      ratelimit-remaining: "1000"
      x-ratelimit-limit: "1000"
      x-ratelimit-remaining: "1000"
      x-wandb-trace-id: e80ce3b0c49056bbfe91abceb7e3f0ae
    body: '{"data":{"viewer":{"username":"drtangible","defaultEntity":{"name":"drtangible-mocha"}}}}'
- request:
    url: https://trace.wandb.ai/agents/spans/custom-attrs/schema
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"project_id":"drtangible-mocha/example","query":{"$expr":{"$eq":[{"$getField":"agent_name"},{"$literal":"my-cool-agent-with-attributes"}]}}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"attributes":[{"source":"custom_attrs_int","key":"weave.another","value_type":"int","span_count":2},{"source":"custom_attrs_string","key":"weave.something","value_type":"string","span_count":2},{"source":"custom_attrs_string","key":"weave.tag","value_type":"string","span_count":2}],"limit":200,"offset":0,"has_more":false}'
