- request:
    url: https://trace.wandb.ai/health
    method: GET
    headers:
      authorization: masked
    body: ""
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"status":"ok"}'
- request:
    url: https://api.wandb.ai/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"query":"\nquery DefaultEntity {\n    viewer
      {\n        username\n        defaultEntity
      {\n            name\n        }\n    }\n}\n","variables":{}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      ratelimit-limit: "1000"
      ratelimit-remaining: "1000"
      x-ratelimit-limit: "1000"
      x-ratelimit-remaining: "1000"
      x-wandb-trace-id: f01a34a098537eee53486272706edf7b
    body: '{"data":{"viewer":{"username":"drtangible","defaultEntity":{"name":"drtangible-mocha"}}}}'
- request:
    url: https://trace.wandb.ai/agents/spans/stats
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"project_id":"drtangible-mocha/example","start":"2000-01-01T00:00:00Z","end":"2000-01-02T00:00:00Z","metrics":[{"alias":"span_count","value_type":"string","aggregations":["count"],"value":{"source":"field","key":"span_id"}}]}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"start":"2000-01-01T00:00:00Z","end":"2000-01-02T00:00:00Z","granularity":21600,"timezone":"UTC","bucket_type":"time","columns":[{"name":"timestamp","role":"time","value_type":"datetime","metric":null,"aggregation":null},{"name":"count_span_count","role":"metric","value_type":"number","metric":"span_count","aggregation":"count"}],"rows":[{"timestamp":"2000-01-01T00:00:00","count_span_count":0},{"timestamp":"2000-01-01T06:00:00","count_span_count":0},{"timestamp":"2000-01-01T12:00:00","count_span_count":0},{"timestamp":"2000-01-01T18:00:00","count_span_count":0}]}'
