- request:
    url: https://trace.wandb.ai/health
    method: GET
    headers:
      authorization: masked
    body: ""
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"status":"ok"}'
- request:
    url: https://api.wandb.ai/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"query":"\nquery DefaultEntity {\n    viewer
      {\n        username\n        defaultEntity
      {\n            name\n        }\n    }\n}\n","variables":{}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      ratelimit-limit: "1000"
      ratelimit-remaining: "1000"
      x-ratelimit-limit: "1000"
      x-ratelimit-remaining: "1000"
      x-wandb-trace-id: 1bf0c9a779b34abbf54aba79cc4236dd
    body: '{"data":{"viewer":{"username":"drtangible","defaultEntity":{"name":"drtangible-mocha"}}}}'
- request:
    url: https://trace.wandb.ai/agents/spans/stats
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"project_id":"drtangible-mocha/example","start":"2026-06-10T00:00:00Z","end":"2026-06-23T00:00:00Z","metrics":[{"alias":"total_input_tokens","value_type":"number","aggregations":["sum"],"value":{"source":"field","key":"input_tokens"}}]}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"start":"2026-06-10T00:00:00Z","end":"2026-06-23T00:00:00Z","granularity":43200,"timezone":"UTC","bucket_type":"time","columns":[{"name":"timestamp","role":"time","value_type":"datetime","metric":null,"aggregation":null},{"name":"sum_total_input_tokens","role":"metric","value_type":"number","metric":"total_input_tokens","aggregation":"sum"}],"rows":[{"timestamp":"2026-06-10T00:00:00","sum_total_input_tokens":0.0},{"timestamp":"2026-06-10T12:00:00","sum_total_input_tokens":0.0},{"timestamp":"2026-06-11T00:00:00","sum_total_input_tokens":0.0},{"timestamp":"2026-06-11T12:00:00","sum_total_input_tokens":0.0},{"timestamp":"2026-06-12T00:00:00","sum_total_input_tokens":0.0},{"timestamp":"2026-06-12T12:00:00","sum_total_input_tokens":0.0},{"timestamp":"2026-06-13T00:00:00","sum_total_input_tokens":0.0},{"timestamp":"2026-06-13T12:00:00","sum_total_input_tokens":0.0},{"timestamp":"2026-06-14T00:00:00","sum_[...]
