- request:
    url: https://trace.wandb.ai/health
    method: GET
    headers:
      authorization: masked
    body: ""
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"status":"ok"}'
- request:
    url: https://api.wandb.ai/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"query":"\nquery DefaultEntity {\n    viewer
      {\n        username\n        defaultEntity
      {\n            name\n        }\n    }\n}\n","variables":{}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      ratelimit-limit: "1000"
      ratelimit-remaining: "1000"
      x-ratelimit-limit: "1000"
      x-ratelimit-remaining: "1000"
      x-wandb-trace-id: 81f4d9b90cafb9146650726989753154
    body: '{"data":{"viewer":{"username":"drtangible","defaultEntity":{"name":"drtangible-mocha"}}}}'
- request:
    url: https://trace.wandb.ai/agents/conversations/chat
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"project_id":"drtangible-mocha/example","conversation_id":"nonexistent-conversation-id"}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"conversation_id":"nonexistent-conversation-id","turns":[],"total_turns":0,"has_more":false,"limit":50,"offset":0,"feedback":null}'
