- request:
    url: https://trace.wandb.ai/health
    method: GET
    headers:
      authorization: masked
    body: ""
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"status":"ok"}'
- request:
    url: https://api.wandb.ai/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"query":"\nquery DefaultEntity {\n    viewer
      {\n        username\n        defaultEntity
      {\n            name\n        }\n    }\n}\n","variables":{}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      ratelimit-limit: "1000"
      ratelimit-remaining: "1000"
      x-ratelimit-limit: "1000"
      x-ratelimit-remaining: "1000"
      x-wandb-trace-id: 22a52d5443a14fcfa2eee0a38e6bcbcc
    body: '{"data":{"viewer":{"username":"drtangible","defaultEntity":{"name":"drtangible-mocha"}}}}'
- request:
    url: https://trace.wandb.ai/agents/search
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"project_id":"drtangible-mocha/example","query":"Liverpool","roles":["user"]}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"results":[{"conversation_id":"trace_c50312356de3487fa90e381c9399b5b4","conversation_name":"","agent_name":"","matched_messages":[{"span_id":"53fc733e2f6b3417","trace_id":"86cc8e5a64b3bb1fbbf80cb377155950","role":"user","content_preview":"[{\"type\":
      \"text\", \"content\": \"When was the last time Liverpool won the
      EPL?\"}]","content_digest":"32cce4db16007e3f5c876c1a4b91e930","started_at":"2026-06-16T22:10:34.631000"}],"last_activity":"2026-06-16T22:10:34.631000"},{"conversation_id":"trace_a6fe0c92ca474ed0bd068c531f7af12c","conversation_name":"","agent_name":"","matched_messages":[{"span_id":"46b56d77a8411c2d","trace_id":"67648280e1e0dffe7e560df171d99ddc","role":"user","content_preview":"[{\"type\":
      \"text\", \"content\": \"What is the weather like in Liverpool and San
      Francisco?\"}]","content_digest":"24b3dbc9126b55b3f896198f125ba7b8","started_at":"2026-06-16T22:10:16.373000"},{"span_id":"00a5ca1e03e154e5","trace[...]
