- request:
    url: https://api.wandb.ai/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"query":"\nquery DefaultEntity {\n    viewer
      {\n        username\n        defaultEntity
      {\n            name\n        }\n    }\n}\n","variables":{}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      ratelimit-limit: "1000"
      ratelimit-remaining: "1000"
      x-ratelimit-limit: "1000"
      x-ratelimit-remaining: "1000"
    body: '{"data":{"viewer":{"username":"drtangible","defaultEntity":{"name":"drtangible-mocha"}}}}'
- request:
    url: https://trace.wandb.ai/file/create
    method: POST
    headers:
      authorization: masked
      content-type: multipart/form-data; boundary=----formdata-undici-044877044187
    body: "------formdata-undici-044877044187\r

      Content-Disposition: form-data; name=\"project_id\"\r

      \r

      drtangible-mocha/test-project\r

      ------formdata-undici-044877044187\r

      Content-Disposition: form-data; name=\"file\"; filename=\"blob\"\r

      Content-Type: application/octet-stream\r

      \r

      async method() {

      \        return this.key + '!';

      \    }\r

      ------formdata-undici-044877044187--\r\n"
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"digest":"5LPCsCuFWEk8TsCrQXF6eeF6hHLA8VzB2BeGgFbl5ng"}'
- request:
    url: https://trace.wandb.ai/obj/create
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"obj":{"project_id":"drtangible-mocha/test-project","object_id":"method","val":{"_type":"CustomWeaveType","weave_type":{"type":"Op"},"files":{"obj.py":"5LPCsCuFWEk8TsCrQXF6eeF6hHLA8VzB2BeGgFbl5ng"},"load_op":"NO_LOAD_OP"}}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"digest":"NLqQGA8CJAScye11A2W8syN2OOEFFuXgUUzPcNNPR2E","object_id":"method"}'
- request:
    url: https://trace.wandb.ai/obj/create
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"obj":{"project_id":"drtangible-mocha/test-project","object_id":"ExampleObject","val":{"_type":"ExampleObject","_class_name":"ExampleObject","_bases":["Object","BaseModel"],"key":"test","value":1,"method":"weave:///drtangible-mocha/test-project/op/method:NLqQGA8CJAScye11A2W8syN2OOEFFuXgUUzPcNNPR2E"}}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"digest":"ZIa9k7irE40Hon8TY88M9F3GjEvvA4BgptYAXkMFYFM","object_id":"ExampleObject"}'
