- request:
    url: https://trace.wandb.ai/health
    method: GET
    headers:
      authorization: masked
    body: ""
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"status":"ok"}'
- request:
    url: https://api.wandb.ai/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"query":"\nquery DefaultEntity {\n    viewer
      {\n        username\n        defaultEntity
      {\n            name\n        }\n    }\n}\n","variables":{}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      ratelimit-limit: "1000"
      ratelimit-remaining: "1000"
      x-ratelimit-limit: "1000"
      x-ratelimit-remaining: "1000"
      x-wandb-trace-id: cf02ac59083c27db7902cfe588b26f53
    body: '{"data":{"viewer":{"username":"drtangible","defaultEntity":{"name":"drtangible-mocha"}}}}'
- request:
    url: https://trace.wandb.ai/agents/spans/query
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"project_id":"drtangible-mocha/example","query":{"$expr":{"$eq":[{"$getField":"agent_name"},{"$literal":"some-nonexistent-agent"}]}},"limit":5}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"spans":[],"groups":[],"total_count":0}'
