- request:
    url: https://trace.wandb.ai/health
    method: GET
    headers:
      authorization: masked
    body: ""
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"status":"ok"}'
- request:
    url: https://api.wandb.ai/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"query":"\nquery DefaultEntity {\n    viewer
      {\n        username\n        defaultEntity
      {\n            name\n        }\n    }\n}\n","variables":{}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      ratelimit-limit: "1000"
      ratelimit-remaining: "1000"
      x-ratelimit-limit: "1000"
      x-ratelimit-remaining: "1000"
      x-wandb-trace-id: cb8b0902561e0c821061fd68da9d4479
    body: '{"data":{"viewer":{"username":"drtangible","defaultEntity":{"name":"drtangible-mocha"}}}}'
- request:
    url: https://trace.wandb.ai/agents/spans/custom-attrs/schema
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"project_id":"drtangible-mocha/example"}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"attributes":[{"source":"custom_attrs_string","key":"gen_ai.tool.call.arguments.city","value_type":"string","span_count":84},{"source":"custom_attrs_string","key":"gen_ai.tool.call.result.condition","value_type":"string","span_count":72},{"source":"custom_attrs_int","key":"gen_ai.tool.call.result.temp","value_type":"int","span_count":72},{"source":"custom_attrs_string","key":"weave.openai_agents.span_id","value_type":"string","span_count":56},{"source":"custom_attrs_string","key":"weave.openai_agents.trace_id","value_type":"string","span_count":56},{"source":"custom_attrs_string","key":"gen_ai.tool.call.arguments.[...]
