- request:
    url: https://trace.wandb.ai/health
    method: GET
    headers:
      authorization: masked
    body: ""
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"status":"ok"}'
- request:
    url: https://api.wandb.ai/graphql
    method: POST
    headers:
      authorization: masked
      content-type: application/json
    body: '{"query":"\nquery DefaultEntity {\n    viewer
      {\n        username\n        defaultEntity
      {\n            name\n        }\n    }\n}\n","variables":{}}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json; charset=utf-8
      ratelimit-limit: "1000"
      ratelimit-remaining: "1000"
      x-ratelimit-limit: "1000"
      x-ratelimit-remaining: "1000"
      x-wandb-trace-id: 6e5ed3bc49ec1e16ae484ec03ac9d314
    body: '{"data":{"viewer":{"username":"drtangible","defaultEntity":{"name":"drtangible-mocha"}}}}'
- request:
    url: https://trace.wandb.ai/agents/spans/stats
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"project_id":"drtangible-mocha/nonexistent-project","start":"2026-06-10T00:00:00Z","end":"2026-06-23T00:00:00Z","metrics":[{"alias":"total_input_tokens","value_type":"number","aggregations":["sum"],"value":{"source":"field","key":"input_tokens"}}]}'
  response:
    status: 403
    statusText: Forbidden
    headers:
      content-type: application/json
    body: '{"detail":"Project not found"}'
- request:
    url: https://trace.wandb.ai/agents/spans/custom-attrs/schema
    method: POST
    headers:
      authorization: masked
      content-type: application/json
      x-weave-client-capabilities: trace_id_on_end,eval_child_meta
    body: '{"project_id":"drtangible-mocha/example","limit":1}'
  response:
    status: 200
    statusText: OK
    headers:
      content-type: application/json
    body: '{"attributes":[{"source":"custom_attrs_string","key":"gen_ai.tool.call.arguments.city","value_type":"string","span_count":84}],"limit":1,"offset":0,"has_more":true}'
[...]
