interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "Hello, world!"}], "llm_providers":
      [{"provider": "openai", "model": "gpt-4o-mini", "is_custom": false, "context_length":
      null, "input_price": null, "output_price": null, "latency": null}, {"provider":
      "openai", "model": "gpt-4o", "is_custom": false, "context_length": null, "input_price":
      null, "output_price": null, "latency": null}], "metric": "accuracy", "max_model_depth":
      2, "hash_content": false}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"providers":[{"provider":"openai","model":"gpt-4o-mini"}],"session_id":"d903d86b-c2aa-4aad-84d5-fc241454722c"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - d26153cb-e5c1-4f8b
      x-render-origin-server:
      - uvicorn
    status:
      code: 200
      message: OK
version: 1
