interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "from typing import List\n\n\ndef
      has_close_elements(numbers: List[float], threshold: float) -> bool:\n    \"\"\"
      Check if in given list of numbers, are any two numbers closer to each other
      than\n    given threshold.\n    >>> has_close_elements([1.0, 2.0, 3.0], 0.5)\n    False\n    >>>
      has_close_elements([1.0, 2.8, 3.0, 4.0, 5.0, 2.0], 0.3)\n    True\n    \"\"\"\n"}],
      "llm_providers": [{"provider": "openai", "model": "gpt-4o-2024-05-13", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}, {"provider": "google", "model": "gemini-1.5-pro-latest", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}, {"provider": "openai", "model": "gpt-4-turbo-2024-04-09", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}, {"provider": "anthropic", "model": "claude-sonnet-4-5", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}], "metric": "accuracy", "max_model_depth": 4, "hash_content": false, "preference_id":
      "0af17140-4a56-4c63-8690-907d8fa1c3bf"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"providers":[{"provider":"anthropic","model":"claude-sonnet-4-5"}],"session_id":"6ac843e7-c68e-4bed-a641-02a2ae63a474"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - 47cd3685-dfdb-4000
      x-render-origin-server:
      - uvicorn
    status:
      code: 200
      message: OK
[...]
