interactions:
- request:
    body: '{"messages": [{"role": "user", "content": "from typing import List\n\n\ndef
      has_close_elements(numbers: List[float], threshold: float) -> bool:\n    \"\"\"
      Check if in given list of numbers, are any two numbers closer to each other
      than\n    given threshold.\n    >>> has_close_elements([1.0, 2.0, 3.0], 0.5)\n    False\n    >>>
      has_close_elements([1.0, 2.8, 3.0, 4.0, 5.0, 2.0], 0.3)\n    True\n    \"\"\"\n    numbers.sort()  #
      Sort the list to compare adjacent elements\n\n    for i in range(len(numbers)
      - 1):\n        if abs(numbers[i] - numbers[i+1]) < threshold:\n            return
      True\n\n    return False"}], "llm_providers": [{"provider": "openai", "model":
      "gpt-4o", "is_custom": false, "context_length": null, "input_price": null, "output_price":
      null, "latency": null}, {"provider": "google", "model": "gemini-2.5-flash",
      "is_custom": false, "context_length": null, "input_price": null, "output_price":
      null, "latency": null}, {"provider": "openai", "model": "gpt-4-turbo", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}, {"provider": "anthropic", "model": "claude-sonnet-4-5", "is_custom":
      false, "context_length": null, "input_price": null, "output_price": null, "latency":
      null}], "metric": "accuracy", "max_model_depth": 4, "hash_content": false, "preference_id":
      "1470b47c-59c0-4e57-9ca7-7128c0329e8e"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://api.notdiamond.ai/v2/modelRouter/modelSelect
  response:
    body:
      string: '{"providers":[{"provider":"anthropic","model":"claude-sonnet-4-5"}],"session_id":"45b4bbe8-bee3-4160-8c8b-f9b4904978b9"}'
    headers:
      Content-Type:
      - application/json
      rndr-id:
      - 8bae41f3-e261-4fb5
      x-render-origin-server:
      - uvicorn
    status:
      code: 200
      message: OK
[...]
